//-
  * @page    首页
  * @author  Jeff Tsui
  * @date    16.04.20
  * @mail    jeff.ccjie@gmail.com

extends base/layout
block content
  - if(uName)
    h1 #{uName} 的博客
  - else
    h1 所有博客

  include blog/blog
  //- else
  //include say
  //include posts
