extends layout
block content
  div.form-horizontal
    .form-group
      label.col-sm-2.control-label(for='username') 账号
      .col-sm-10
        input#username.form-control(type='text', name='username', placeholder='请输入账号')
    .form-group
      label.col-sm-2.control-label(for='password') 密码
      .col-sm-10
        input#password.form-control(type='password', name='password', placeholder='请输入密码')
    .form-group
      label.col-sm-2.control-label(for='password') 再次输入密码
      .col-sm-10
        input#passwordRepeat.form-control(type='password', name='passwordRepeat', placeholder='请再次输入密码')
    .form-group
      .col-sm-offset-2.col-sm-10
        a#reg.btn.btn-primary 注册


block append footer
  script(type='text/javascript', src='/javascripts/reg.js')
