.title{
    margin: 50px 0 20px;
    text-align: center;
}
.info{
    padding: 0 5px;
    line-height: 28px;
    color: #888;
    overflow: hidden;
    border-bottom: 1px solid #d1d1d1;
}
.tags{
    float: right;
}
.time{
    color: #999999;
}
.arrow{
    padding: 0 10px;
}
.name{
    color: #666666;
}
.pv{
    color: #ccc;
}
.contentBox{
    padding: 20px 0;
}