body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-horizontal{
  margin-top: 30px;
}


.blog{}
.blogList{
  position: relative;
  margin: 10px 0;
}
.blogList:hover{
  background-color: #dedede;
}
.blogList .media-left .media-object{
  width: 40px;
  height: 40px;
}
.blogTool{
  position: fixed;
  right: 30px;
  top: 40%;
}
.editBlog, .deleteBlog{
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background-color: #bbbbbb;
  color: #ffffff;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
.deleteBlog{
  right: 50px;
}
.blogTitle{
  line-height: 24px;
}
.uploadImg{
  position: relative;
  width: 100px;
  height: 80px;
  line-height: 80px;
  background-color: #dddddd;
  color: #333;
  overflow: hidden;
  text-align: center;
}
.uploadImg .inputFile{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0.000001;
  cursor: pointer;
}
.uploadImg img{
  max-width: 100%;
}


.alert{
  position: fixed;
  right: 50%;
  top: 150px;
  z-index: 1100;
  width: 600px;
  height: 150px;
  margin: 0 -300px 0 0;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.alert .alertBtn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -30px;
}
.alert .alertTitle{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.alert .alertContent{
  padding: 10px 0;
  color: #666666;
}

#blogToolBox .form-control{
  margin-bottom: 10px;
}